<!DOCTYPE html>
<html>
  <head>
    <title>Passport Tutorial</title>
    <meta charset='utf-8'/>
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
  </head>
  <body>
    <h1>Home</h1>
    <ol>
        <li><a href="/create-user">Create a user</a></li>
        <li><a href="/login">Login page</a></li>
        <li><a href="/admin">Admin page</a></li>
        <li><a href="/user/:NameGoesHere">User page (/user/NameGoesHere)</a></li>
        <p><a href="/end-session">Logout</a>.</p>
    </ol>
    <script src='js/home.js'></script>
  </body>
</html>
