<!DOCTYPE html>
<html>
  <head>
    <title>Passport Tutorial</title>
    <meta charset='utf-8'/>
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
  </head>
  <body>
    <h1>Login</h1>
    <form action='/'>
        <br>
        <input type='text' id='name' placeholder='Name' required>
        <input type='password' id='password' placeholder='Password' required>
        <br>
        <input type='submit' value='Login'>
    </form>
    <script src='js/login.js'></script>
    <p><a href='/create-user'>Create</a> a user.</p>
    <p>Go <a href='/'>home</a>.</p>
  </body>
</html>
